/* Typography */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--colors-textPrimary);
  font-weight: var(--fontWeights-medium);
}

p {
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-body);
  line-height: var(--lineHeights-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonts-heading);
  letter-spacing: var(--letterSpacings-heading);
  line-height: var(--lineHeights-heading);

  font-weight: var(--fontWeights-bold);
}

h1 {
  font-size: var(--fontSizes-h1);
}
h2 {
  font-size: var(--fontSizes-h2);
}
h3 {
  font-size: var(--fontSizes-h3);
}
h4 {
  font-size: var(--fontSizes-h4);
}
h5 {
  font-size: var(--fontSizes-h5);
}
h6 {
  font-size: var(--fontSizes-h6);
}

b,
strong {
  font-weight: var(--fontWeights-bold);
}

i,
em {
  font-style: oblique;
}

.text-secondary {
  color: var(--colors-textSecondary);
}

/* Interactive */
button {
  all: unset;

  padding: var(--space-interactiveMedium);

  background-color: var(--colors-bgInteractive);
}
button.small {
  padding: var(--space-interactiveSmall);
}
button.large {
  padding: var(--space-interactiveLarge);
}
button.ghost {
  background-color: transparent;
}

:is(button):hover:not(:disabled) {
  background-color: var(--colors-bgInteractiveHover);
  color: var(--colors-textPrimary);
}
:is(button):disabled {
  opacity: 75%;
  cursor: not-allowed;
}
:is(button):focus {
  outline: none;
}
:is(button):focus-visible {
  outline: dashed 2px var(--colors-focusRing);
  outline-offset: 2px;
}
